/* Estilos generales */
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

@keyframes backgroundColorMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Estilos para Header */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  padding: 10px 0 10px 0;
  border-radius: 10px;
  margin: 10px auto;
  gap: 15px;
  width: 90%;
  padding: 20px;
}


@keyframes backgroundColorMove {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.header-text {
  flex:2;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(45deg, rgb(255, 51, 51), rgb(171, 55, 255), violet);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: backgroundColorMove 4s linear infinite;
}




button {
  transition: transform 0.3s ease;
  margin: auto;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  justify-content: center;
  border-radius: 5px;
  animation: backgroundColorMove 2s ease infinite;
  font-size: 16px;
  transition: transform 0.3s ease;

}
button:hover {
  transform: scale(1.05);
}
#login-container {
  display: flex;
  justify-content: space-evenly; 
  gap: 15px;
  flex: 1;
  max-width: 100%;
}
@media screen and (max-width:340px) {
  #login-container {
  flex-wrap: wrap;
  }
}
.btn-login, .btn-product-count {
  
  min-width: 90px;
  height: 50px; 
  width: 100%;
}


.btn-login {
  background: linear-gradient(45deg,  #ff3d98, #ff0095, #ba0e0e);
  background-size: 300% 300%;
}


.main-actions {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.main-action-btn {
  min-width: 90px;
  height: 50px; 
  width: 100%;
}
@media screen and (max-width: 392px) {
  .main-actions{
    flex-direction: column; 
  }
  
}
.user-photo {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
#user-photo-modal {
  max-width: 100px;
  max-height: 100px;
}
.btn-login:hover .user-photo {
  transform: rotate(5deg);
}

.btn-product-count {
  background: linear-gradient(45deg, #4CAF50, #2196F3, #00ff22);
  background-size: 200% 200%;

}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-content {
  max-height: 90vh;
  overflow-y: auto;
  padding: 25px;
  max-width: 500px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: transparent;
  backdrop-filter: blur(30px);
  color: #fff;
  border: 2px solid #fff;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.close-modal-btn, .never-show-modal-btn {
  min-width: 150px;
  cursor: pointer;
  flex: 1;
}
.close-modal-btn {
  background: linear-gradient(45deg, #ff6761, #ff3d98, #ba0e0e);
  background-size: 200% 200%;
}
.never-show-modal-btn {
  background: linear-gradient(45deg, #ddd, #000);
  background-size: 200% 200%;
}

.main-container {
  width: 90%;
  max-width: 1000px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}


.boton {
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

#btn-agregar:hover,
#btn-editar:hover,
#btn-eliminar:hover {
  background: linear-gradient(45deg, transparent, var(--color-bg), transparent);
  background-size: 250% 250%;
  box-shadow: 0 0 30px var(--color-bg);
}
#btn-agregar.active,
#btn-editar.active,
#btn-eliminar.active {
  box-shadow: 0 0 30px var(--color-bg);

}

#btn-agregar {
  --color-bg: #09ff006e;
  background-color: var(--color-bg);
  border: 2px solid #09ff00;
}

#btn-editar {
  --color-bg: #e100ff6e;
  background-color: var(--color-bg);
  border: 2px solid #e100ff;
}

#btn-eliminar {
  --color-bg: #ff00006e;
  background-color: var(--color-bg);
  border: 2px solid #ff0000;
}



@keyframes shine {
  0% { background-position: -250% 0; }
  100% { background-position: 250% 0; }
}

#formularioAgregarProducto label {
  color: #fff;
  font-weight: bold;
}

#formularioAgregarProducto input,
#formularioAgregarProducto textarea,
#formularioAgregarProducto select {
  width: 100%;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
}


#productos-añadir-form {
  max-width: 550px;
  padding: 20px;
  margin: 0px auto;
  margin-top: 30px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px #666;
}
#agregarProductoBtn {
  width: 100%;
  background: linear-gradient(45deg, #00ff88, #0096b0, #1eff00);
  background-size: 300% 300%;
  
}

#mensajeEstado {
  text-align: center;
  padding-bottom: 15px;
}

.error {
  color: red;
  padding-bottom: 5px;
}

.exito {
  color: rgb(255, 5, 222);
  padding-bottom: 5px;
}


.formulario-producto .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; 
}

.formulario-producto .input-group label {
  margin-bottom: 2px;
}

.formulario-producto .input-group input, 
.formulario-producto .input-group select, 
.formulario-producto .input-group textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 3px;
  opacity: 0.8;
}
textarea {
resize: vertical;
max-height: 200px;
}



#filtro-descripcion {
  margin: 30px auto;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1em;
    max-width: 700px;
    width: 100%;
    border: 2px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    transition: transform 0.3s ease;
    color: #fff;
}

#filtro-descripcion:focus {
    outline: none;
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
#filtro-descripcion::placeholder {
  color: #fff;
  opacity: 0.5; 
}



#modal-edicion-producto {
    display: none;
    position: fixed;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

}

#modal-edicion-producto .modal-content {
  background-color: transparent;
  backdrop-filter: blur(30px);
  color: #fff;
  text-align: left;
    margin:10vh auto;
    padding: 20px;
    border: 2px solid #888;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    max-height: 80vh;
}


#modal-edicion-producto .close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
#editarProductoBtn {
  margin: auto;
  margin-top:20px;
}
#modal-edicion-producto .close-modal:hover,
#modal-edicion-producto .close-modal:focus {
    color: #464646;
    text-decoration: none;
    cursor: pointer;
}
.input-group label {
padding-bottom: 10px;
font-weight: bold;
}
h2 {
  text-align: center;
}
.input-group input, .input-group textarea, .input-group select {
  background-color: transparent;
  color: #fff;
  border: 2px solid #999;
  border-radius: 5px;
  outline: none;
}
.input-group input:hover,
.input-group textarea:hover,
.input-group select:hover,
.input-group input:focus,
.input-group textarea:focus,
.input-group select:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  border-color: #fff;
}
.input-group select option {
  background-color: #000;
  color: #fff;
}





#modal-edicion-producto .mensaje-estado {
    margin-top: 10px;
    text-align: center;
}

#modal-edicion-producto .mensaje-estado.error {
    color: red;
}

#modal-edicion-producto .mensaje-estado.exito {
    color: rgb(58, 232, 255);
}

#modal-cierre-sesion {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#modal-cierre-sesion .modal-content {
    background-color: transparent;
    backdrop-filter: blur(30px);
    padding: 20px;
    border: 2px solid hsl(0, 0%, 53%);
    width: 90%;
    color: #fff;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    max-height: 80vh;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#modal-cierre-sesion .close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

#modal-cierre-sesion .close-modal:hover,
#modal-cierre-sesion .close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-cierre-sesion .user-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-cierre-sesion .user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#modal-cierre-sesion .btn-cerrar-sesion {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    transition: transform .3s;
}

.enlace-generado {
    display: block;
    margin-top: 5px;
    color: #0066cc;
    word-break: break-all;
}

.enlace-generado a {
    color: #0066cc;
    text-decoration: underline;
    word-break: break-all;
}

.mensaje-edicion {
    display: block;
    margin-top: 5px;
    color: #007bff;
    font-size: 0.8em;
    font-style: italic;
}

.btn-editar-full {
    background: linear-gradient(45deg, #6ae4ff, #0096b0, #454ed1);
    background-size: 300% 300%;
}
.btn-eliminar-producto {
    background: linear-gradient(45deg, #ff7b00, #d9fd56, #ff0095);
    background-size: 300% 300%;
}

#productos-editar-grid, #productos-eliminar-grid {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 10px;
}

.info-producto {
  backdrop-filter: blur(5px);
  height: 220px;
  position: relative;
  display: flex;
  color:#fff;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s;
}

.info-producto:hover {
  transform: scale(1.04);
}

.info-producto img {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.info-producto h3 {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.info-producto p:not(:first-of-type) {
  display: none;
}
.info-producto p:first-of-type {
  display: none; 
}

.acciones-producto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.info-producto:hover .acciones-producto {
  opacity: 1;
}

.editar {
  border: 2px solid #00fff2;
}

.eliminar {
  border: 2px solid #f00
}
.btn-editar-producto {
  background: linear-gradient(45deg, #6ae4ff, #0096b0, #0011ff);
  background-size: 300% 300%;
}
.tarjeta-producto:hover img,
.tarjeta-producto:hover h3 {
  opacity: .3;
  transition: opacity 0.3s;
}


.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #0d1b2a, #000);
  pointer-events: none;
  z-index: -1;
}

.meteoro {
  position: absolute;
  width: 2px;
  height: 80px;
  background: linear-gradient(to bottom, rgb(95, 223, 255), transparent);
  top: -100px;
  transform: rotate(45deg);
  opacity: 0;
  animation: caer 2s linear infinite;
}

.meteoro:nth-child(1) { left: -80%; animation-delay: 0s; }
.meteoro:nth-child(2) { left: 0%; animation-delay: 2s; }
.meteoro:nth-child(3) { left: -40%; animation-delay: 1s; }
.meteoro:nth-child(4) { left: 30%; animation-delay: 5.5s; }
.meteoro:nth-child(5) { left: 60%; animation-delay: 3s; }

@keyframes caer {
  0% {
    transform: translate(0, 0) rotate(-45deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(-45deg);
    opacity: 0;
  }
}

.valido {
    color: #58ffff; 
}

.invalido {
    color: #9E9E9E; 
}

.input-group input.valido,
.input-group select.valido,
.input-group textarea.valido {
    border-color: #58ffff;
}

.input-group input.invalido,
.input-group select.invalido,
.input-group textarea.invalido {
    border-color: #9E9E9E;
}

#texto-inicial {
color: #fff;
justify-content: center;
font-size: clamp(1.5rem, 2vw, 2rem);
text-wrap: balance;
}

.main-container {
  position: relative;
}


.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}


.finaltext {
  color: #888;
  font-size: 0.8rem;
  margin: 0;
}

.install-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 10px;
  margin-top:auto;
}

#install-app-btn {
  color: #888;
  font-size: 0.8rem;
  margin: 0;
  display: flex;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(5px);
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#install-app-btn:hover {
  transform: scale(1.05);
}
#install-app-btn svg {
  stroke: #fff;
  width:20px;
  height: 20px;
}
#install-app-btn span {
  margin-left: 5px;
  color: #fff;
}
